@using Blazorise
@using Blazorise.Bootstrap
@using DMCopilot.Backend.Services

@inject IAccountService AccountService

<AuthorizeView>
    <Authorized>
        @context.User.Identity?.Name
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
