@using Blazorise

@using DMCopilot.Backend.Models
@using DMCopilot.Backend.Services

<AuthorizeView>
    <Authorized>
        <Bar Breakpoint="Breakpoint.Desktop"
             Background="Background.Light"
             ThemeContrast="ThemeContrast.Light">

            <BarEnd>
                <BarDropdown>
                    @if (Account != null && Tenant != null)
                    {
                        <BarDropdownToggle Color="Color.Primary">
                            @Tenant.Name (@Tenant.Type)
                        </BarDropdownToggle>
                        <BarDropdownMenu>
                            @foreach (var tenantRole in Account.TenantRoles)
                            {
                                <BarDropdownItem Active=@(Tenant.Id == tenantRole.TenantId)>@tenantRole.Name (@tenantRole.Type)</BarDropdownItem>
                            }
                        </BarDropdownMenu>
                    }
                </BarDropdown>
                <BarItem>
                    <BarItem>
                        <Button Link="MicrosoftIdentity/Account/SignOut" Color="Color.Secondary">Log out</Button>
                    </BarItem>
                </BarItem>
            </BarEnd>
        </Bar>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Account? Account { get; set; }

    [CascadingParameter]
    public Tenant? Tenant { get; set; }
}
