@page "/"

@inject NavigationManager Navigation

<PageTitle>Game Master Copilot - Home</PageTitle>

<h1>Welcome to Game Master Copilot</h1>

<p>This application will help you build and manage content for your table top role playing games using generative AI.</p>

<AuthorizeView>
    <Authorized>
        <p>Welcome back to Game Master Copilot, <b>@context.User.Identity?.Name</b>.</p>
    </Authorized>

    <NotAuthorized>
        <p>Please <a Href="@($"authentication/login?returnUrl={currentUrl}")">login</a> to continue.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}
