@page "/character/builder"

@using dungeon_master_copilot_server.Services
@using dungeon_master_copilot_server.Data

@inject SemanticKernelService semanticKernelService
@inject CharacterRepository characterRepository

<h1>Character Builder</h1>

<!-- An input text box for entering basic details about character to create -->
<div class="form-group d-flex">
    <label for="characterDetails">Character Details</label>
    <input type="text" class="form-control" id="characterDetails" placeholder="A hill dwarf merchant who runs a general store in Baldurs Gate.">
    <button type="button" class="btn btn-primary ml-2">Create</button>
</div>

<table class="table table-striped table-condensed" style="font-family: monospace">
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>Value</td>
    </tr>
</table>

