@inherits LayoutComponentBase

@using GMCopilot.Entities.Models
@using GMCopilot.Services

@inject AccessService AccessService
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Game Master Copilot</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        My Application
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    [CascadingParameter]
    public Account? Account { get; set; }

    [CascadingParameter]
    public Tenant? Tenant { get; set; }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected override async Task OnParametersSetAsync()
    {
        var context = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        await AccessService.InitializeUsingContext(context);
        Account = AccessService.Account;
        Tenant = AccessService.Tenant;
    }
}
